
{{#each threads}}
<div class="container-fluid">
    <div class="jumbotron">
        <h4>Title:</h4><br />
        <p>{{title}}</p>
        <hr />
        <h4>Date:</h4>
        <p>{{date}}</p>
        <hr />
        <h4>Description:</h4>
        <p>{{description}}</p>
        <hr />
        <h4>Comments:</h4>
        {{#each answers}}
        <p>"{{answer}}" - by {{authorName}}</</p>
                            
        {{/each}}

       

        <h2>Thread Autor:</h2>
         <p> {{author.username}}</p>
    </div>    
</div>        
{{/each}}



<hr />
         

 {{!--{{#each authorsNames}}
        <h1>{{this}}</h1> 
{{/each}}--}}