
{{#each threads}}
<div class="container-fluid">
    <div class="jumbotron">
        <h2>Title:</h2>
        {{title}}
        <hr />
        <h2>Date:</h2>
        {{date}}
        <hr />
        <h2>Description:</h2>
        {{description}}
        <hr />
        <h2>Comments:</h2>
        {{#each answers}}
        "{{answer}}" - by {{authorName}}
                            
        {{/each}}

       

        <h2>Thread Autor:</h2>
         <p> {{author.username}}</p>
    </div>    
</div>        
{{/each}}



<hr />
         
{{#if hasPrevPage}}
    <a class="btn btn-primary" href="/answers/list?page={{prevPage}}">PREV</a>
{{/if}}         

{{#if hasNextPage}}
    <a class="btn btn-primary" href="/answers/list?page={{nextPage}}">NEXT</a>
{{/if}}    