


{{#each threads}}
    <div class="container-fluid">
        <div class="jumbotron">
            <h2>Title:</h2><br />
                 {{title}}
            <hr />     
            {{!--<h4>Date:</h4>
                <p>{{date}}</p>
            <hr />   --}}
            <h2>Description:</h2>
                {{description}}
             <hr />

             Views of this thread: {{views}}<br />
             Likes: {{likesCount}}
             <br />
             
                {{!--<h4>Author:</h4>  
                
                    <p>{{user.username}}</p>
                     <hr />       --}}
                 
            <a class="btn btn-primary" href="/post/{{_id}}/{{title}}">DETAILS</a>
        
            {{#if ../currentUser }}
                {{#if ./rightToVoteUp}}
                <a class="btn btn-default" href="/post/like/{{_id}}/{{title}}">LIKE</a>
                {{/if}}
                <a class="btn btn-default" href="#">DISLIKE</a>
            {{/if}}


            {{#if ../isAdmin}}
            <a class="btn btn-warning" href="/post/edit/{{_id}}/{{title}}">EDIT</a>
            <a class="btn btn-danger" href="/post/delete/{{_id}}/{{title}}">DELETE</a>
            {{/if}}
        </div>
    </div>
   {{/each}}


<div class="container-fluid">
    {{#if hasPrevPage}}
    <a class="btn btn-primary" href="/threads/all?page={{prevPage}}">PREV</a>
    {{/if}}

    {{#if hasNextPage}}
    <a class="btn btn-primary" href="/threads/all?page={{nextPage}}">NEXT</a>
    {{/if}}
</div>