


{{#each threads}}
    <div class="container-fluid">
        <div class="jumbotron">
            <h4>Title:</h4><br />
                 <p>{{title}}</p>
            <hr />     
            <h4>Date:</h4>
                <p>{{date}}</p>
            <hr />   
            <h4>Description:</h4>
                <p>{{description}}</p>
             <hr />
             
                {{!--<h4>Author:</h4>  
                
                    <p>{{user.username}}</p>
                     <hr />       --}}
                 
            <a class="btn btn-default" href="/post/{{_id}}/{{title}}">DETAILS</a>
            {{#if ../isAdmin}}
            <a class="btn btn-warning" href="/post/edit/{{_id}}/{{title}}">EDIT</a>
            <a class="btn btn-danger" href="/post/delete/{{_id}}/{{title}}">DELETE</a>
            {{/if}}
        </div>
    </div>
   {{/each}}
