 <div class="container-fluid">
     <div class="jumbotron">

        <h2>Title:</h2><br />
             {{thread.title}}
        {{!--<h2>Date:</h2>
            {{thread.date}}--}}
        <h2>Description:</h2>
            {{thread.description}}<br />

        <h2>Comments:</h2>    
            {{#each answers}}
                <div class="container=fluid">
                    {{answer}}
                     {{#if ../isAdmin}}
                            <a class="btn btn-warning" href="/answer/edit/{{_id}}/{{answer}}">EDIT COMMENT</a>
                            <a class="btn btn-danger" href="/answer/delete/{{_id}}">DELETE COMMENT</a>
                    {{/if}}
                </div>
            {{/each}}
     </div>


         <a class="btn btn-primary" href="/add/answer/{{thread._id}}">ADD COMMENT</a>

           {{!--{{#if isAdmin}}
            <a class="btn btn-warning" href="/answer/edit/{{thread._id}}/{{thread.title}}">EDIT COMMENT</a>
            <a class="btn btn-danger" href="#">DELETE COMMENT</a>
            {{/if}}--}}
        
    </div>